.dropdown-menu {
  max-height: 400px;
  overflow: auto;
}
@keyframes mymove {
  from {width: 10px;}
  to {width: 200px;}
}
.cols {
  background-color: red;
  padding: 30px 0;
  /* margin: 10px; */
  /* transition: all 3s; */
  /* position: relative; */
  transition: all .0.5s linear;
}
.auto-cotainer {
  background-color: red;
  /* padding: 30px; */
}
.auto-child-cotainer {
  background-color: green;
  margin-top: 20px;
  box-shadow: 10px 10px 8px #000000;
}
.button-pad {
  background-color: hotpink;
  box-shadow: 10px 10px 8px #000000;
  padding: 10% 40%;
  min-width: 100%;
  margin-top: 20px;
}
.button-pad:hover {
  background-color: hotpink;
}
.button-pad:active {
  box-shadow: 10px 10px 8px #000000;
}
.button-pad:focus {
  box-shadow: 10px 10px 8px #000000;
}
.button-label {
  position: absolute;
  transform: translate(-50%, -50%);
}
.buttton-auto-color {
  background-color: #33a523 !important;
}
.buttton-manual-color {
  background-color: #33a523 !important;
}
#root {
  background-image: url('./weather-change.gif');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.reactloadder {
  width: auto;
  height: 100px;
  border-radius: 50%;
  margin-top: 30px;
}
.rows {
  box-shadow: 10px 10px 8px #000000;
  /* padding: 10% 40%; */
  margin: 30px 0;
}
.dropdown-toggle {
  min-width: 200px;
  position: relative;
}
.dropdown-toggle:after {
  vertical-align: middle;
  position: absolute;
  top: 50%;
  right: 15px;
}